<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.hoogit.whalesay.features.translate"
    >

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
